:root {
	/* ------- colors ------- */
	--primary-color: hsl(141, 100%, 31%);
	--secondary-color: #ffffff;
	--tertiary-color: #acacb4;
	--quaternary-color: #e4e4e7;
	--link-color: #14b8a6;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Times New Roman", Times, serif;
	--secondary-font: "Georgia", serif;
	/* --------------------- */
}
